.red {
    color: red;
}

.blue {
    color: blue;
}

.title {
    background-color: #04AA6D;
    color: white;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
}

.badge {
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
}

.badge-big {
    font-size: 20px;
}



@media (max-width: 1150px) {
    .hide-mob {
        display: none;
    }
}

@media (max-width: 1150px) {
    .nome {
        text-overflow: ellipsis;
    }
    img {
        width: 35px;
    }
}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.rating .filled {
    color: orangered;
}

.clear {
    margin-top: 20px;
}

@media (max-width: 1150px) {
    .badge-big {
        font-size: 12px;
    }

    .rating li {
        font-size: 10px;
    }
}

.placar {
    width: 80px;
    text-align: center;
    font-size: 25px;
}

.gols {
    width: 55px;
    text-align: center;
    font-size: 25px;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tr,
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tr:hover,
tr:hover {
    background-color: #ddd;
}

.th,
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.row:nth-child(even) {
    background-color: #f2f2f2;
}

img {
    border-radius: 50%;
    width: 50px;
    margin-top: 5px;
}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 12px;
    height: 12px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

table {
    width: 100%;
}
